@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
  position: relative;
  min-height: 100%;
}

body {
	/*padding-top: 70px;*/
	font-family: 'Open Sans', Verdana;
	font-size: 12px;
	min-height: 1000px;
	color: #6B6969;
	background: #F7F7F7;
	margin-bottom: 320px;
	image-rendering: optimizeQuality;
	text-rendering: optimizeQuality;
}

body::-webkit-scrollbar {
    width: .7em;
}
 
body::-webkit-scrollbar-track {
	background: #ccc;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #7C7C7D;
  outline: 1px solid #5B5F63;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

a {
	color: #118bb6;
	transition:all 0.3s ease;
}

a:hover {
	color:#82A6B3;
	text-decoration: none;
}

.breadcrumb {
	background: #5C5E5F;
	border-radius: 0 70px 70px 0;
}

.breadcrumb li a {
	color:#fff;
}

.breadcrumb > li + li:before {
	content: "\203A\00a0";
}


.navbar-default {
	background: #373737;
	border-bottom: 5px solid #71BDF1;
	font-family: 'Open Sans', Arial;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #71BDF1;
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background: #434546;
	color: #eee;
}

.dropdown-menu {
	background: #373737;
}

.dropdown-menu>li>a {
	color: #fff;
}

.dropdown-menu>li>a:hover {
	background: #71BDF1;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-brand {
	color:#D8D8D8;
}

.nav>li>a {
	padding: 15px 25px;
}

.navbar-default .navbar-nav>li>a:hover {
	background: #71BDF1;
	color: #eee;
}

.formLogin {
	font-weight: normal;
	font-family: 'Lato', Verdana;
	color: #E4DEDE;
}

.formLogin fieldset div a {
	color:#fff;
}

ul.bxslider li img {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
}

.wrapper-box-widget {
	box-shadow: 0 0 2px 1px #D4D4D4;
	border-radius: 2px;
	background: #fff;
}

.wrapper-box-widget .box-widget-title {
	background:#545454;
	color:#fff;
	padding: 10px;
	border-bottom:5px solid #71BDF1;
	font-weight: bolder;
	cursor: default;
}

.wrapper-box-widget .box-widget-content {
	padding:10px;
}

.popular-animes {
	margin-top: 10px;
	margin-bottom: 10px;
}

.popular-animes .thumb-img {
	float:left;
	width: 80px;
	height: 80px;
	margin-right: 5px;
	border:1px solid #BBB;
	border-radius: 70px;
}

.popular-animes .thumb-img img {
	width: 80px;
	height: 80px;
	border-radius: 70px;
}

.popular-animes .title {
	font-size: 14px;
	/*font-family: 'Lato', Verdana;*/
}

.popular-animes .title a {
	color: #222;
}

.popular-animes .short-desc {
	font-size: 12px;
}

.single-anime {
	background: #fff;
	padding: 10px;
	box-shadow: 0 0 2px 1px #D6D5D5;
	box-sizing: content-box;
}

.single-anime .thumb-single-img {
	width: 180px;
	height: 200px;
	float: left;
	margin-right: 10px;
}

.single-anime .thumb-single-img img {
	width: 180px;
	height: 200px;

	box-shadow:0 0 4px 1px #B5B3B3;
	border-radius: 4px;
}

.single-anime .synopsis {
	text-align: justify;
}

.wrapper-mirror {
	padding: 12px 0;
}

.mirror-title {
	float: left;
	border-right: 1px solid #fff;
}

.mirror-title a {
	background: #484141;
	padding: 10px;
	color: #fff;
	border-top:5px solid #37B9AF;

	transition:all .8s ease-in-out;
}

.mirror-title a:hover{
	border-top:5px solid #3DC738;
}

.mirror-title a.active {
	border-top:5px solid #3DC738;
}

.meta-list li:after{
	content: " ";
	margin-right:2px;
}

.wrapper-comments h5.title-comments {
	background: #eaebec;
	padding: 10px;
	border: 1px solid #A9A9A9;
	border-radius: 2px;
	cursor: default;
}

.wrapper_sidebar {
	box-shadow: 0 0 2px 1px #D4D4D4;
	margin-bottom: 10px;
	margin-top: 5px;
}

.wrapper_sidebar .sidebar_title {
	font-family: 'Lato', Verdana;
	font-size:14px;
	overflow: hidden;
	padding: 10px;
	background: #545454;
	color: #fff;
	border-bottom: 5px solid #71BDF1;
	cursor: default;
}

.wrapper_sidebar .sidebar_content {
	padding:8px;
	background: #fff;
	font-size:12px;
}

.wrapper-bullet-title, .single-bullet-title {
	background: #545454;
	padding: 15px;
	color: #fff;
	border-radius: 0 70px 70px 0;
	border-bottom: 5px solid #71BDF1;
	cursor: default;
}

.single-bullet-title {
	font-size: 20px;
}

.wrapper-content-inside {
	display: block;
	margin-top: 5px;
	padding: 5px;
}

.wrapper-block-anime {
	background: rgba(255, 255, 255, 0.59);
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 0 2px 1px rgba(222, 222, 222, 0.63);
}

.block-anime-meta {
	display: block;
	color:#fff;
	width: 70%;
	color: #6B6969;
	font-size: 12px
}

.block-anime-meta table tr td a {
	color: #407CBD;
}

.block-anime-title {
	background: #545454;
	text-align: center;
	border-radius: 70px;
	height: 30px;
	padding: 5px;
	margin-bottom: 6px;
	overflow: hidden;
}

.wrapper-block-anime a {
	font-size: 12px;
	color:#fff;

	transition:all .8s ease-in-out;
}

.wrapper-block-anime a:hover {
	background: #B54F75;
	color:#fff;
}

.block-anime-img {
	float: right;
	width: 145px;
	height: 100px;
	margin-right: 10px;
}

.block-anime-img img {
	width: 145px;
	height: 100px;
	border-radius: 4px;
	border:1px solid #BBB;
}

.footer {
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 320px;
	background-color: #eaebec;
}

.footer_widget_title {
	padding: 8px;
	font-weight: bold;
	background: #545454;
	margin-top: 5px;
	border-bottom: 4px solid #71BDF1;
}

.footer_widget_content {
	color:#222;
	min-height: 250px;
}

.credits {
	font-size: 11px;
	margin-top: 5px;
	text-align: center;
	padding: 5px;
	color:#747474;
	border-radius: 3px;
}

.sitemap {
	list-style: inside;
	margin: 0;
	padding: 10px;
}
.sitemap li {
	padding: 10px;
}

.sitemap li a {
	padding: 10px;
}

.nav-az {
	list-style: none;
	background: #3B79B3;
	padding: 0;
	text-align: center;
}

.nav-az li {
	display: inline;
	padding: 2px 2px;
}

.nav-az li a {
	padding: 2px 4px;
	color: #fff;
	font-size: 16px;
	transition:all .5s ease;
}

.nav-az li a:hover {
	background: #308AC7;
	border: 1px solid #fff;
}

.wrap-alfabet {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #eaebec;
}

.backtotop {
	float: right;
}

.title_alfabet {
	background: #3D96BB;
	color: #fff;
	padding: 10px;
	font-size: 22px;
}

.alfa_list_anime {
	display: block;
	list-style: none;
	padding-left:18px;
	margin-top: 10px;
}

.alfa_list_anime li {
	width: 50%;
	float: left;
	padding: 5px;
}